Source: apt-lan-rsync
Section: utils
Priority: optional
Maintainer: Nate Marti <nate_marti@sil.org>
Build-Depends:
 debhelper (>= 11.0.0),
 dh-systemd,
Standards-Version: 4.4.0
Homepage: https://github.com/wasta-linux/apt-lan-rsync

Package: apt-lan-rsync
Architecture: all
Depends:
 rsync,
 ${misc:Depends}
Description: Systemd rsync service for sharing APT packages over the LAN.
